@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

:root {
  --main-color: #e8786e;
  --black: #555;
  --light-color: #777;
  --bg: #fceae9;
  --border: .1rem solid rgba(0, 0, 0, .1);
  --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
  overflow-x: hidden;
}

* {
  font-family: 'Nunito', sans-serif;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition:  all .3s ease-in-out;
}


@media (max-width: 991px) {
    
  html {
    font-size: 55%;
  }

}

@media (max-width: 450px) {
    
  html {
    font-size: 50%;
  }

}